[submodule "post_service/pentagol_protos"]
	path = post_service/pentagol_protos
	url = git@github.com:ravshancoder/pentagol_protos.git
[submodule "admin_service/pentagol_protos"]
	path = admin_service/pentagol_protos
	url = git@github.com:ravshancoder/pentagol_protos.git
[submodule "pentagol_protos"]
	path = pentagol_protos
	url = git@github.com:ravshancoder/pentagol_protos.git
[submodule "liga_service/pentagol_protos"]
	path = liga_service/pentagol_protos
	url = git@github.com:ravshancoder/pentagol_protos.git
[submodule "api_getway/pentagol_protos"]
	path = api_getway/pentagol_protos
	url = git@github.com:ravshancoder/pentagol_protos.git
